@import url('https://fonts.googleapis.com/css?family=K2D:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body{
  font-family: 'K2D', sans-serif;
}
.example-tooltip{
  font-size: 90%;
}
table{
  width: 100%;
}
th.mat-sort-header-sorted{
  color: black;
}
tr.mat-footer-row{
  font-weight: 600;
}
.mat-table-sticky{
  border-top: 1px solid #e0e0e0;
}
tr:hover{
  background: #f5f5f5;
}
tr:active{
  background: #efefef;
}